.DS_Store
retrieve
checksum
prep
build
install
pmdoc
test
check
pkg
final
static
*~
\#*\#
master
*.pmdoc
*.pkg
*-install
*-build
*.tar
*.lz
*.xz
*.tgz
*.gz
*.bz2
*.zip
*.jar
*.orig
*.py?
config.cache
Distribution
Resources
